{% load staticfiles %}
<!html>

<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  {% block basecss %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="container">

    {% block header %}

    <div id="header" class="row">
      <div class="col-sm-2">
        <img src="{% static 'img/funel.png' %}" />
      </div>

      <div class="col-sm-8">
        <h3 class="title">Functional Network Learning protocol</h3>
      </div>

      {% if request.user.is_authenticated %}
        <div class="col-sm-2 login">
          <a href="/logout"><button type="button" class="btn btn-primary">Log out <span class="glyphicon glyphicon-log-out"></span></button></a>
        </div>
      {% else %}
        <div class="col-sm-2 login">
          <a href="/login"><button type="button" class="btn btn-primary">Login <span class="glyphicon glyphicon-log-in"></span></button></a>
        </div>
      {% endif %}
    </div>

    {% endblock %}

    {% block navbar %}
      <div class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Run Funel</a></li>
      {% if request.user.is_authenticated %}
            <li><a href="/user/jobs">My Jobs</a></li>
      {% endif %}
	    {% if request.user.is_superuser %}
                <li><a href="/admin"><b>ADMIN</b></a><li>
      {% endif %}
          </ul>
        </div>
      </div>        
    {% endblock %}

    
    {% block content  %}
    {% endblock %}
  </div>
</body>
  {% block scripts %}
  {% endblock %}

</html>
