{% extends 'upload/base.html' %}
{% load widget_tweaks %}


{% block content %} 
<h1 class="header">Upload</h1>        
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 panel panel-default">
	<form class="upload" method="post" action="../upload/" enctype="multipart/form-data">{% csrf_token %}
		<label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
	        {{ form.title }}
		<span style="margin:0 auto;"><label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
		{{ form.file }}</span>
		
		 <button type="submit" id="demo" action="">
		 Click here for demo
		<button type="submit">or submit</button>
	</form>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}
