{% extends 'upload/base.html' %}


{% block content %} 

       
  <div class="row">
  <div class="col-sm-12 panel panel-default">
  	<div class="col-sm-12 panel panel-heading"><h2>Upload</h2></div>
    	<div class="col-sm-12 panel panel-body">
    
    {{ error }}
    {{ form.errors }}
	{% if form.non_field_errors or form.errors %}
        <div class="error-list-block">
            <p>
                Please correct the errors below - Ensure all required fields
                are completed.
            </p>
            <ul>
                {% for error in form.non_field_errors|add:form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
	<form class="upload" method="post" action="../upload/" enctype="multipart/form-data">{% csrf_token %}
		<div class="row">
			<div class="col-sm-2">
				<span class="left-label" >{{ form.email.label }}</span><br /><br />		        	
				<span class="left-label" >{{ form.title.label }}</span><br /><br />
				<span class="left-label" >{{ form.file.label }}</span>
			</div>

			<div class="col-sm-4 inputs">
				{{ form.email }}<br/><br/>
				{{ form.title }}<br/><br/>
				{{ form.file }}
			</div>
		

			<div class="col-sm-6 config">
				<b id="params">Parameters <a href="{% url 'index' %}#how-to"><span class="glyphicon glyphicon-question-sign"></span></a></b><br /><br/>
				<label for="{{ form.setting.id_for_label }}">{{ form.setting.label }}</label>
			        {{ form.setting }}
			     <label for="{{ form.permutations.id_for_label }}">Permutations</label>
			        {{ form.permutations }}<br />
			     <label for="{{ form.biohel_runs.id_for_label }}">Machine learning runs</label>
			        {{ form.biohel_runs }}
			     <label for="{{ form.attributes.id_for_label }}">Attributes Retained</label>
			        {{ form.attributes }}
		    </div>
	    </div>
		<!-- <a href="http://82.35.221.203/upload/job/775883c9-ddaa-4951-be69-2ea0e94bed8b/results/">
			<div class="btn btn-primary" id="demo" >
		 		Click here for demo
		 	</div>
		</a> -->
		 
		<br /><br />
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
    </div>
    <div class="col-sm-2"></div>
  </div></div>
{% endblock %}
