{% extends 'upload/base.html' %}
{% load widget_tweaks %}


{% block content %} 
<h1 class="header">Upload</h1>        
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 panel panel-default">
	<form class="upload" method="post" action="../upload/" enctype="multipart/form-data">{% csrf_token %}
		<label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
	        {{ form.title }}
		<span style="margin:0 auto;"><label for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
		{{ form.file }}</span>
		<div style="margin:10px auto;">
		<label for="{{ form.setting.id_for_label }}">{{ form.setting.label }}</label>
	        {{ form.setting }}
	     <label for="{{ form.permutations.id_for_label }}">{{ form.permutations.label }}</label>
	        {{ form.permutations }}
	     <label for="{{ form.biohel_runs.id_for_label }}">{{ form.biohel_runs.label }}</label>
	        {{ form.biohel_runs }}
	     <label for="{{ form.attributes.id_for_label }}">{{ form.attributes.label }}</label>
	        {{ form.attributes }}
	    </div>

		<a href="http://82.35.221.203/upload/job/775883c9-ddaa-4951-be69-2ea0e94bed8b/results/">
			<div class="btn btn-primary" id="demo" >
		 		Click here for demo
		 	</div>
		</a>
		 
		
		<button type="submit">or submit</button>
	</form>
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}