{% extends 'upload/base.html' %}
{% block content %}

<div class="container">
	<div id="jobs" class="col-sm-12">
	{{ user }} - Your jobs 
	{{ message }}
		{% for job in jobs %}
		<div class="row">
			ID: {{ job.id }}
			Job name: {{ job.title }}
			Status:
			{% if job.start_date != None %}
			  {% if job.status %}
			    <a href="/upload/job/{{ job.id }}/results">Finished - See Results</a>
			  {% elif job.error %}
			    An error has occured with this job <a href="{% url 'contact' %}"> contact admin</a>
			  {% else %}
			    In progress
			  {% endif %}
			
			{% else %}
			Submitted, in the queue
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}
