{% load staticfiles %}
<!DOCTYPE html>
    <html lang = "en" >
    <head>
    <meta charset = "utf-8" >
    <title> D3 Test </title> 
    <script type = "text/javascript" src = "{% static "d3.v3.js" %}" > </script> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head> 
    <style>
/*TODO download all libraries

*/
    
    .node {
        fill: #0066FF;
        stroke: #000;
        stroke-width: 2 px;
    }

    .link {
        stroke: #777;
        stroke-width: 2px;
    }

    .controls {
        right: 100px;
        position: fixed;
        top: 10px;
        width: 150px;
     }


    </style>
    
    <body>
        <div class="controls">
            <button type="button" id="reset" class="btn btn-secondary">Reset zoom</button>
            <button type="button" id="remove" class="btn btn-secondary">Remove linkless nodes</button>
        </div>

        <script type= "text/javascript" >
            //var color = d3.scale.category10();
            //var color = ['#339999', '#0033cc', '#00cc33', '#cc0000', '#000000']
            //var range = color.range();
            var color = ['#eff3ff', '#bdd7e7', '#6baed6','#3182bd','#08519c']
            var scale = d3.scale.ordinal().domain([0,40]).range(color); 


            $(document).ready(function(){
                //Load in the json file
                var data = {{ json | safe }};
                var width = 960;
                var height = 500;
                var r = 5;
//Here be positions
                /*var positions = 
{"positions": [{"x":"-68.824367374", "y": "-6.10824525755"},
{"x":"-80.8080803911", "y": "-3.38997541264"},
{"x":"6.75334817585", "y": "-49.6040729697"},
{"x":"14.6608797291", "y": "-81.8897019921"},
{"x":"5.84422695973", "y": "-139.679889715"},
{"x":"9.4682879875", "y": "-135.716379506"},
{"x":"-85.094877309", "y": "8.75497395921"},
{"x":"-80.9245669198", "y": "5.12053025002"},
{"x":"33.3048781901", "y": "-44.8532425896"},
{"x":"51.8703622736", "y": "-63.6303684737"},
{"x":"13.5111446833", "y": "-140.223974836"},
{"x":"18.9477196786", "y": "-138.959580972"},
{"x":"25.0146751873", "y": "-13.0999126259"},
{"x":"32.7631424544", "y": "9.45273567426"},
{"x":"-74.5791679584", "y": "9.34263809426"},
{"x":"0.325811500616", "y": "-49.3120311745"},
{"x":"6.02736202479", "y": "-2.57449996906"},
{"x":"45.7498870927", "y": "-37.388602357"},
{"x":"-72.4952347267", "y": "20.071147994"},
{"x":"-76.4349162344", "y": "-1.18781914857"},
{"x":"-87.9910824029", "y": "-1.41626047602"},
{"x":"13.694644085", "y": "56.2962801967"},
{"x":"6.84956015375", "y": "55.6873087143"},
{"x":"11.8507228455", "y": "-145.060310626"},
{"x":"12.660844173", "y": "-131.973694356"}]}*/
                var positions = {{ positions | safe }};

                var posX = d3.scale.linear()
                    .range([0,960])
                    .domain([-125,120]);

                var posY = d3.scale.linear()
                    .range([0,500])
                    .domain([-125,125]);
                
                console.log(posX(positions.positions[0].x));
                console.log(posX(positions.positions[1].x));
                console.log(posX(positions.positions[2].x));
                for (var i = 0; i < data.nodes.length-1; i++){
                    data.nodes[i].x = posX(positions.positions[i].x);//TODO change to i
                    data.nodes[i].y = posY(positions.positions[i].y);
                    data.nodes[i].fixed = true;
                }
                console.log(data.nodes);

                var force = d3.layout.force()
                    .size([width, height])
                    .charge(-400)
                    .linkDistance(40)
                    .on("tick", tick);

                var drag = force.drag()
                    .on("dragstart", dragstart);


                var zoom = d3.behavior.zoom()
                    .scaleExtent([1, 10])
                    .on("zoom", zoomed);

                var svg = d3.select("body").append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .call(d3.behavior.zoom().on("zoom", function () {
                        svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
                      }))
                      .append("g");


                d3.select("svg").on("dblclick.zoom", null);

                var link = svg.selectAll(".link"),
                    node = svg.selectAll(".node");

            force
                  .nodes(data.nodes)
                  .links(data.links)
                  .start();

              link = link.data(data.links)
                .enter().append("line")
                  .attr("class", "link");

              node = node.data(data.nodes)
                .enter().append("circle")
                  .attr("class", "node")
                  .attr("r", r)
                  .on("dblclick", dblclick)
                  .call(drag);


                function tick() {
                  link.attr("x1", function(d) { return d.source.x; })
                      .attr("y1", function(d) { return d.source.y; })
                      .attr("x2", function(d) { return d.target.x; })
                      .attr("y2", function(d) { return d.target.y; });

                  node.attr("cx", function(d) { return d.x; })
                      .attr("cy", function(d) { return d.y; });
                }

                function dblclick(d) {
                  d3.select(this).classed("fixed", d.fixed = false);
                }

                function dragstart(d) {
                  d3.event.sourceEvent.stopPropagation();
                  d3.select(this).classed("fixed", d.fixed = true);
                }

                function zoomed() {
                  svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
                }
            

                var scale2 = 0.5;
                function resetZoom() {
                    svg.attr("transform", "translate("+(width-scale*width)/2+","+(height-scale*height)/2+") scale("+scale2+")")
                }

                function removeLonelyNodes() {
                    node.filter(function(d){
                            if(d.weight==0){
                                return this;
                            }})
                        .remove();
                }
                
        });
    </script>

        
    </body> </html>
            
