{% load staticfiles %}
<!DOCTYPE html>
    <html lang = "en" >
    <head>
    <meta charset = "utf-8" >
    <title> D3 Test </title> 
    <script type = "text/javascript" src = "{% static "d3.v3.js" %}" > </script> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head> 
    <style>
/*TODO download all libraries

*/
    
    .node {
        fill: #0066FF;
        stroke: #000;
        stroke-width: 2 px;
    }

    .link {
        stroke: #777;
        stroke-width: 2px;
    }

    .controls {
        right: 100px;
        position: fixed;
        top: 10px;
        width: 150px;
     }


    </style>
    
    <body>
        <div class="controls">
            <button type="button" id="force" class="btn btn-secondary">Start force (can be slow with large graphs)</button>
            <button type="button" id="remove" class="btn btn-secondary">Remove linkless nodes</button>
        </div>

        <script type= "text/javascript" >
            var color = ['#eff3ff', '#bdd7e7', '#6baed6','#3182bd','#08519c']
            var scale = d3.scale.ordinal().domain([0,40]).range(color); 


            $(document).ready(function(){
                //Load in the json file
                var data = {{ json | safe }};
                var width = 960;
                var height = 500;
                var r = 5;
                var positions = {{ positions | safe }};

                var posX = d3.scale.linear()
                    .range([0,width])
                    .domain([positions.scales[1].minX,positions.scales[0].maxX]);//TODO less hardcoded, in one entry rather than 4



                var posY = d3.scale.linear()
                    .range([0,height])
                    .domain([positions.scales[3].minY,positions.scales[2].maxY]);


                for (var i = 0; i < data.nodes.length; i++){
                    data.nodes[i].x = posX(positions.positions[i].x);
                    data.nodes[i].y = posY(positions.positions[i].y);
                    data.nodes[i].fixed = true;
                }

                var force = d3.layout.force()
                    .size([width, height])
                    .charge(-400)
                    .linkDistance(40)
                    .on("tick", tick);

                var drag = force.drag()
                    .on("dragstart", dragstart);


                var zoom = d3.behavior.zoom()
                    .scaleExtent([1, 10])
                    .on("zoom", zoomed);

                var svg = d3.select("body").append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .style("border-style", "solid")
                    .call(d3.behavior.zoom().on("zoom", function () {
                        svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
                      }))
                      .append("g");


                d3.select("svg").on("dblclick.zoom", null);

                var link = svg.selectAll(".link"),
                    node = svg.selectAll(".node");

            force
                  .nodes(data.nodes)
                  .links(data.links)
                  .start();

              link = link.data(data.links)
                .enter().append("line")
                  .attr("class", "link");

              node = node.data(data.nodes)
                .enter().append("circle")
                  .attr("class", "node")
                  .attr("r", r)
                  .on("dblclick", dblclick)
                  .call(drag);


                function tick() {
                  link.attr("x1", function(d) { return d.source.x; })
                      .attr("y1", function(d) { return d.source.y; })
                      .attr("x2", function(d) { return d.target.x; })
                      .attr("y2", function(d) { return d.target.y; });

                  node.attr("cx", function(d) { return d.x; })
                      .attr("cy", function(d) { return d.y; });
                }

                function dblclick(d) {
                    d3.select(this).classed("fixed", d.fixed = false);
                }

                function dragstart(d) {
                    d3.event.sourceEvent.stopPropagation();//Stops also panning on drag
                    d3.select(this).classed("fixed", d.fixed = true);
                }

                function zoomed() {
                    svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
                }
            

                function removeLonelyNodes() {
                    node.filter(function(d){
                            if(d.weight==0){
                                return this;
                            }})
                        .remove();
                }


                //Start force
                document.getElementById("force").addEventListener("click", function() {
                    node.classed('fixed', function(d) { return d['fixed'] = false; });
                });
                
        });
    </script>

        
    </body> </html>
            
